@font-face{
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff');
}

body{

	@sideBar			: #252425;
	@body				: #F6F9FF;
	@blue				: #0088CC;
	@lightText			: #EBEDF0;
	@lightTextHover		: #C5CDD7;
	@darkText			: #323746;
	@darkTextHover		: #52586B;
	@minHeight			: 700px;


	.lighta {
		a {
			color : @lightText;
			&:hover {
				color:@lightTextHover;
				text-decoration:none;
			}
		}
	}

	.darka {
		a {
			color : @blue;
			&:hover {
				color: @darkText;
				text-decoration:none;
			}
		}
	}

	.customFont {
		font-family: 'Droid Sans', sans-serif ! important;
	}

	min-height:@minHeight;
	background-color: @body;
	.customFont;

	div.container-fluid {
		padding:0;
		margin:0 auto;
	}

	div.row:first-child{
		min-height:700px;
	}

	p {
		.customFont;
		font-size: 15px;
	}

	pre {
		background-color: black;
		padding-left: 35px;
	}

	div#sideBar{
		position: absolute;
		z-index:2;
		min-height:@minHeight;
		h2, h3, h4 {
			margin: 24px 16px 24px 24px;
			border-bottom: 1px solid @darkTextHover;
			color: @lightText;
		}

		h2 {
			margin-top:50px;
		}

		section{
			ul.aboutLinks {
				list-style-type: none;
				margin:20px 0 0 10px;
				li {
					display:block;
					margin: 0px 16px 5px 24px;
					color: #F6F9FF;
					.lighta;
				}
			}
			a{
				&:hover{
					text-decoration: none;
					cursor:pointer;
				}
			}
		}
	}
	div#messageBox{
		min-height:@minHeight;
		border-left: solid 300px @sideBar;
		padding-left: 40px;
		position: absolute;
		left: -20px;
		z-index: 1;
		.darka;
		h1, h2, h3 {
			margin-bottom: 15px;
			color : @darkText;
		}

		h1 {
			font-size: 30px;
			margin: 40px 0 20px 10px;
			border-bottom: 2px solid @darkText;
			padding-bottom: 10px;
		}

		ul.blogs {
			li a{
				border:0;
				font-size: 14px;
				color : #2d2d2d;
			}
		}

		#disqus_thread {
			margin-top: 80px;
			img {
				height:auto;
				width:auto;
				margin:0 auto !important;
			}
		}

		img {
			margin: 20px auto 10px;
			width: 400px;
			display: block;
		}

		section.content #badges img {
			width:auto !important;
			height : 100px;
			display: inline-block;
			margin: 10px;
		}
	}
	.footer{
		.darka;
		height:50px;
		line-height:20px;
		width:100%;
		margin-left:0px;
		border-top: 1px solid @darkTextHover;
		padding-top:20px;
		padding-bottom: 35px;

		div.container-fluid {
			padding-bottom:50px;
		}

		p {
			margin: 0px;
			font-size: 13px;
		}
	}
}
