@font-face{
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff');
}
body{
	font-family: 'Droid Sans', sans-serif ! important;
	div.row:first-child{
		min-height:500px;
	}
	p{
		font-family: 'Droid Sans', sans-serif ! important;
		font-size: 15px;
	}

	svg {
		z-index:-1;
	}
	div#sideBar{
		section{
			margin-top:30px;
			.mainTitle{
			}
			img{
				margin: 20px 5px 0;
				padding-bottom: 7px;
				&:hover{
					border-bottom: 4px solid #444;
					padding-bottom: 3px;
				}
				
			}
			a{
				&:hover{
					text-decoration: none;
					cursor:pointer;
				}
				
			}
			
		}
		
	}
	div#messageBox{
		margin-top:100px;
		h1 {
			margin-bottom: 20px;
		}

		h2 {
			margin-bottom: 15px;
		}

		ul.blogs li a{
			border:0;
			font-size: 14px;
		}

		#disqus_thread {
			margin-top: 80px;
		}

	}
	.footer{
		@height:50px;
		height:@height;
		line-height:20px;
		width:100%;
		margin-left:0px;
		border-top: 1px solid #e5e5e5;
		padding-top:20px;
		p{
			margin: 0px;
			font-size: 13px;
		}
		
	}
	
}
