<header>

  <a href="/">
    <img class="me" src="/images/me.jpg" />
  </a>

  <ul class="icons">
    <li>
      <a href="/about.html" title="About me">
        <i class="fa fa-user"></i>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/jaseemabid" title="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/jaseemabid" title="Github">
        <i class="fa fa-github"></i>
      </a>
    </li>

    <li>
      <a href="/feed.xml" title="Subscribe to feeds">
        <i class="fa fa-rss"></i>
      </a>
    </li>

    <li>
      <a href="/Jaseem Abid.pdf" title="Resume">
        <i class="fa fa-id-card"></i>
      </a>
    </li>

  </ul>
</header>
