<header>
  <a href="/">
    <img alt="Jaseem Abid" class="me" src="/images/me.jpg" />
  </a>

  <ul class="icons">
    <li>
      <a href="/about.html" title="About">
        <i class="fa fa-user"></i>
      </a>
    </li>

    <li>
      <a href="https://bsky.app/profile/jabid.in" target="_blank" title="Bluesky">
        <i class="fa-brands fa-bluesky"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/jaseemabid" target="_blank" title="Github">
        <i class="fab fa-github"></i>
      </a>
    </li>

    <li>
      <a href="/feed.xml" title="Subscribe to feeds">
        <i class="fa fa-rss"></i>
      </a>
    </li>
  </ul>
</header>
