<header>

  <a href="/">
    <img class="me" src="/images/me.jpg" />
  </a>

  <ul class="icons">
    <li>
      <a href="/">
        <i class="fa fa-home"></i>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/jaseemabid">
        <i class="fa fa-twitter"></i>
      </a>
    </li>

    <li>
      <a href="https://facebook.com/jaseemabid">
        <i class="fa fa-facebook"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/jaseemabid">
        <i class="fa fa-github"></i>
      </a>
    </li>

    <li>
      <a href="blogs.html">
        <i class="fa fa-pencil"></i>
      </a>
    </li>
  </ul>
</header>
