body {
    font-family: 'Droid Serif';
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
    font-size: 25px
}

.remark-slide-content h1 {
    font-size: 75px !important;
}

.solarized {
    background: #002b36;
    color: #b58900;
}

quote {
    border-left: 10px solid #777872;
    padding-left: 20px;
    display: inline-block;
    font-size: 30px;
}

img { width: 100%; }

.huge h1 {font-size: 300px}

.smaller {

}

/* Make big urls stand out even when visited */
h2 a {
    color: red;
}

.hljs-solarized-dark .hljs {
    overflow: hidden !important;
    overflow-x: hidden !important;
}

/* Two-column layout */
.left-column {
    width: 20%;
    float: left;
}

.left-column h1 {
    display: inline-block;
}

.right-column {
    width: 75%;
    float: right;
}

.right-column h2 {
    margin: 20px auto;
}
