<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.ext %}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="span4" id="sideBar">
					<!--top content-->
					{% include about.ext %}
				</div>
				<div class="span8" id="messageBox">
					<!--Body content-->
					{{ content }}
					{% if page.comments %}
						<div id="disqus_thread"></div>
					{% endif %}
					{% include footer.ext %}
				</div>
			</div>

		</div>
		{% if page.comments %}
			{% include disqus.ext %}
		{% endif %}
		{% include scripts.ext %}
		{% include track.ext %}
	</body>
</html>
