<!DOCTYPE html>
<!-- This site was last updated at {{ site.time | date_to_rfc822 }} -->
<html>
  {% include head.html %}

  <body>
    <div class="wrapper-narrow">
      {% include header.html %}

      {% if page.toc %}
      <nav>
        <h2>Table of Contents</h2>
        {% toc %}
      </nav>
      {% endif %}

      <article class="content">
        <h1>{{ page.title }}</h1>

        <div class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%B %-d, %Y" }}
          </time>

          <hr></hr>
        </div>

        {{ content}}
      </article>

      <br/><br/>

      {% include footer.html %}
  </body>
</html>
