<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }}</title>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
    </style>
    <link rel="stylesheet" href="/static/slides.css">
  </head>
  <body>
    <textarea id="source">
{{ content }}
    </textarea>
    <script src="/static/remark-latest.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
     var slideshow = remark.create({
         navigation: {scroll: false},
         highlightStyle: 'solarized-dark'
     });
    </script>
  </body>
</html>
